
@model StockIndicator.Web.Models.StockCheckerModel
@{
    ViewData["Title"] = "StockChecker";
}

<head>
    <meta http-equiv="refresh" content="@Html.DisplayFor(model => model.SleepTime)" />
</head>

<body>
  

        @if (Model.OOS == true)
        {
            <div class="alert alert-danger" role="alert" style="font-weight: bold; color: black;">
                THE PRODUCT FROM @Model.Retailer.ToUpper() IS CURRENTLY OUT OF STOCK. LAST CHECK: @DateTime.UtcNow.ToLongTimeString()
            </div>
        }

        @if (Model.InStock == true)
        {
            <div class="alert alert-primary" role="alert">
                Your <a href="@Model.URL" class="alert-link">Product</a>. From @Model.Retailer is back in stock.
            </div>

            <audio autoplay>
                <source type="audio/mp3" src="~/audio/No Copyright _ Oh My God Wow Sound Effect.mp3" />
            </audio>
        }

        <div class="container" style="max-width:50%;">
            <form method="post">
                <div class="form-group">
                    <label style="font-weight: bold; color: white;">TIMER</label>
                    <input class="form-control" asp-for="SleepTime" />
                </div>

                <div class="form-group">
                    <label style="font-weight: bold; color: white;"> URL</label>
                    <input class="form-control" asp-for="URL" />
                </div>

                <button type="submit" class="btn btn-primary" style="font-weight: bold; color: white;">TRACK</button>
                @if (Model.URL != null)
                {
                    <div class="spinner-border" role="status" style="color:white;">
                        <span class="sr-only">Checking Stock...</span>
                    </div>
                }
            </form>
        </div>
</body>

<div class="container" style="max-width:50%;">
    <table class="table table-hover table-borderless" style="font-weight: bold; color: white;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">URL</th>
                <th scope="col">RETAILER</th>
                <th scope="col">STATUS</th>
            </tr>
        </thead>
        @if (Model.URL != null)
        {
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <a href="@Model.URL">LINK</a>
                    </td>
                    <td>@Model.Retailer</td>
                    <td>@Model.InStock</td>
                </tr>
            </tbody>
        }
    </table>
</div>



    <script type="text/javascript">
        let counter = 1;
        setInterval(() => {
            counter++;
        }, 1000);
    </script>
